/* Header.css */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;             
  padding: 1.5rem 2rem;
  background-color: #111827;
  color: #fff;
}


.header-left {
  flex: 1 1 300px;            
  text-align: left;
}


.header-right {
  display: flex;
  gap: 1rem;
}

.header-right button {
  background: #1f2937;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.header-right button:hover {
  background: #374151;
}
